/*
Theme Name: brief
Theme URI: https://www.monsite.com/monsite
Author: daris
Author URI: https://www.monsite.com/monsite
Description: brief wordpress
Version: 1.0
*/


.img2{
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.group{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    
}
.heading{
    text-align: center;
    margin-bottom: 4%;
    margin-top: 2%;
}
div.excerpt{
    text-align: center;
}
#voirplus{
    font-size:x-large;
}
.title-article{
    margin-top: 2%;
    font-size: larger;
}